<section class="section-xs-padding">
  <div>
    <h1 class="heading--sm">New game</h1>
    <%= render "form", game: @game %>
    <br>
    <div class="flex-row">
      <p><%= link_to "Back to games", games_path, class: "text-decoration-none color-primary" %></p> 
    </div>
  </div>
</section>